.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.search-bar form {
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    padding: .7rem 1rem;
    border-radius: 8px;
}

.search-bar .logo {
    margin-right: 10px;
}

.search-bar input {
    background-color: #26272b;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    outline-width: 0; 
}